---
import Layout from '../../layouts/LayoutLandingZh.astro';
import TextAndImage from '../../components/TextAndImage.astro';
---

<Layout title="签证信息 – GOSIM Hangzhou 2025">
  <main>
    <div class="container">
      <h1>签证信息</h1>
      <TextAndImage
        title="签证信息"
        imgSrc="/images/homepage/placeholder.jpg"
        imgAlt="签证"
      >
        <p>
          来自大多数国家/地区的与会者需要签证才能进入中国。我们建议您咨询当地的中国大使馆或领事馆以获取最新信息。在您注册并支付门票费用后，我们可以提供邀请函以支持您的签证申请。
        </p>
      </TextAndImage>
    </div>
  </main>
</Layout>
