---
// Components
import Layout from "layouts/LayoutLandingZh.astro";
import Hero from "components/Hero.astro";
import Intro from "components/Intro.astro";
import Statistics from "components/Statistics.astro";
import Tracks from "components/Tracks.astro";
import TextAndImage from "components/TextAndImage.astro";
import PreviousEvents from "components/PreviousEvents.astro";
import GetTickets from "components/GetTickets.astro";
import VenueInfo from "components/VenueInfo.astro";
import TextAndSponsors from "components/TextAndSponsors.astro";
import TextAndImageReverse from "components/TextAndImageReverse.astro";
import Timeline from "components/Timeline.astro";

// Images
import Placeholder1 from "images/homepage/stats1.jpeg";
import Placeholder2 from "images/homepage/stats2.jpg";
import Placeholder3 from "images/homepage/stats3.png";
import SpotlightBlue from "images/homepage/spotlight-hg.svg";
import RustGlobalWhite from "images/homepage/rust-svg.svg";
import Proposals from "images/homepage/hangzhou-proposals-min.jpg";

import GosimShanghai from "images/homepage/gosim-shanghai.png";
import GosimDelft from "images/homepage/gosim-delft.png";
import GosimBeijing from "images/homepage/gosim-beijing.png";
import GosimParis from "images/homepage/gosim-paris-min.png";
---

<Layout
  title="GOSIM 杭州 2025"
  description="GOSIM 杭州。即将到来。"
  navDarkMode={true}
  navBackground="header-home"
  pageTransitionName="Home"
>
  <Hero
    date="2025年9月13-14日"
    location="中国杭州"
    links={[
      {
        text: "提案征集 Call For Proposals",
        link: "/zh/#proposals",
        openInNewTab: false,
      },
    ]}
  />
  <!--   <CardsSponsors
    title="由以下机构赞助"
    sponsors={[
      {
        name: "1ms.ai",
        image: "/images/sponsors/1msai.png",
      },
      {
        name: "Huawei",
        image: "/images/sponsors/huawei.png",
      },
      {
        name: "CSDN",
        image: "/images/sponsors/csdn.png",
      },
    ]}
  /> -->
  <div
    class="section-wrap"
    id="intro"
    data-theme-section="light"
    data-bg-section="lightgray"
  >
    <Intro>
      <h1 class="h3 light split-words animate-read">
        加入我们的GOSIM Hangzhou 2025，中国首屈一指的开源会议，这里是创新、协作和技术突破的汇聚之地。
      </h1>
    </Intro>

    <Statistics
      stats={[
        {
          title: "1500",
          subtitle: "与会者",
          image: Placeholder1,
          imageAlt: "",
          hasPlus: true,
        },
        {
          title: "100",
          subtitle: "演讲嘉宾",
          imageAlt: "",
          image: Placeholder2,
          hasPlus: true,
        },
        {
          title: "2",
          subtitle: "精彩日程",
          imageAlt: "",
          image: Placeholder3,
        },
      ]}
    />
  </div>
  <VenueInfo
    subtitle="会议地点"
    title="杭州白金汉爵酒店"
    location="中国杭州 - 创新与历史交汇之地"
    text="在杭州体验GOSIM 2025，这座城市以其历史遗产和充满活力的科技未来而闻名。杭州，一颗历史瑰宝和现代科技中心，为灵感、交流和突破性创新提供了完美的背景。"
    image="/images/homepage/hangzhoubg.png"
  />

  <Tracks
    id="tracks"
    title="5大前沿主题"
    list={[
      {
        title: "AI Models & Infra（AI模型与基础设施）",
        text: `基础模型、边缘推理、生成式AI、AI训练工具等。`,
      },
      {
        title: "Embodied AI（实体AI）",
        text: `在现实世界中应用AI，从人形机器人到自主系统。`,
      },
      {
        title: "Agentic Web（互联智能体）",
        text: `去中心化应用、身份识别、增强隐私技术和协作平台。`,
      },
      {
        title: "Apps & Agents（应用与智能体）",
        text: `跨平台和AI辅助应用开发、Rust GUI应用、WebAssembly和超级应用生态系统。`,
      },
      {
        title: "AI Next（AI未来）",
        text: `AI赋能用例、AI设备、人机交互界面、AI平台和AI治理。`,
      },
      // {
      //   title: "Rust",
      //   text: `Rust Global和Rust China会议，专注于Rust编程语言及其应用。`,
      // },
    ]}
    ctaButton={{
      text: "日程安排即将公布",
      link: "",
    }}
  />
  <TextAndImageReverse
    id="proposals"
    title="提案征集 Call For Proposals"
    text="我们正在寻找大胆的想法和新鲜的声音来塑造未来。如果您对前沿技术、新兴趋势或变革性实践有见解，我们希望听到您的声音。提交演讲提案，加入由推动边界的创新者、思想领袖和变革者组成的阵容。"
    image={Proposals}
    imageAlt="GOSIM 杭州"
    dataBgSection="light"
    dataThemeSection="light"
    ctaButton={{
      text: "立即申请",
      link: "https://cfp.gosim.org/",
      openInNewTab: true,
    }}
  />
  <Timeline
    events={[
      {
        date: "2025年5月18日",
        title: "提案申请开放",
      },
      {
        date: "2025年8月18日",
        title: "提案申请截止",
      },
      {
        date: "2025年9月13日",
        title: "GOSIM Hangzhou开幕！",
      },
      {
        date: "2025年9月14日",
        title: "GOSIM Hangzhou闭幕",
      },
    ]}
  />
  <TextAndImage
    id="rust-global"
    title="同期举办RustGlobal与RustChinaConf"
    text="RustGlobal是Rust基金会主办的首个专注于全球领导环境中使用Rust的聚会。"
    image={RustGlobalWhite}
    imageAlt="Rust Global"
    dataBgSection="dark"
    dataThemeSection="dark"
    ctaButton={{
      text: "RustGlobal + RustChinaConf 2025",
      link: "https://rustcc.cn/2025conf/",
      openInNewTab: true,
    }}
  />

  <TextAndSponsors
    title="赞助机会"
    text="通过成为GOSIM Hangzhou 2025的支持组织，接触到数千名目标受众。"
    text2="*仅展示往届GOSIM会议赞助商，仅供参考。"
    ctaButton={{
      text: "联系我们",
      link: "mailto:sponsor@gosim.org",
    }}
    logos={[
      {
        image: "openwallet.png",
        imageAlt: "OpenWallet logo",
      },
      {
        image: "ajtis.jpg",
        imageAlt: "AJTIS logo",
      },
      {
        image: "aifc.png",
        imageAlt: "AIFC logo",
      },
      {
        image: "lf-gen-ai.png",
        imageAlt: "Linux Foudnation logo",
      },
      {
        image: "eclipse-foundation.png",
        imageAlt: "Eclipse Foundation logo",
      },
      {
        image: "osi.png",
        imageAlt: "Open Source Initiative logo",
      },
    ]}
  />
  <TextAndImage
    id="spotlight"
    title="GOSIM AI for Human Spotlight"
    text="迈向道德与创意AI的共生未来：如果AI不仅仅是为了服务，而是与我们共同创造呢？AI for Human Spotlight是一个国际展示平台，展示探索生成式AI如何培养同理心、共享创造力和道德共存的项目。"
    image={SpotlightBlue}
    imageAlt="Gosim Spotlight badge"
    dataBgSection="light"
    dataThemeSection="light"
    ctaButton={{
      text: "立即申请或提名",
      link: "https://spotlight.gosim.org/",
      openInNewTab: true,
    }}
  />

  <PreviousEvents
    title="往届活动"
    events={[
      {
        title: "GOSIM 巴黎",
        date: "2025年5月6-7日",
        description:
          "超过1000名与会者和行业精英在光之城参加了为期两天的GOSIM巴黎活动，深入探讨了AI的多方面发展。",
        image: GosimParis,
        link: "https://paris2025.gosim.org/",
      },
      {
        title: "GOSIM 北京",
        date: "2024年10月17-18日",
        description:
          "吸引了超过1700名与会者，GOSIM北京是迄今为止在中国历史悠久的首都举办的规模最大的GOSIM活动。",
        image: GosimBeijing,
        link: "https://china2024.gosim.org/",
      },
      {
        title: "GOSIM 代尔夫特",
        date: "2024年6月6-7日",
        description:
          "GOSIM代尔夫特是一个为期两天、设有3个主题的活动，吸引了来自荷兰及世界各地的1200名与会者。",
        image: GosimDelft,
        link: "https://europe2024.gosim.org/",
      },
      {
        title: "GOSIM 上海",
        date: "2023年9月23-24日",
        description: "一切的起点，GOSIM会议和工作坊专注于倡导和增强开源贡献。",
        image: GosimShanghai,
        link: "https://conference2023.gosim.org/",
      },
    ]}
  />

  <GetTickets
    title="加入开源革命！"
    location="中国杭州"
    date="2025年9月13-14日"
    text="立即确保您在GOSIM Hangzhou 2025的席位。与创新者合作，与行业先驱交流，成为塑造开源技术未来的一部分。"
  />
</Layout>
