---
import Layout from '../../layouts/LayoutLandingZh.astro';
import VenueInfo from '../../components/VenueInfo.astro';
---

<Layout title="会场信息 – GOSIM Hangzhou 2025">
  <main>
    <div class="container">
      <h1>会场信息</h1>
      <VenueInfo />
    </div>
  </main>
</Layout>
