---
// Components
import Layout from "layouts/LayoutLanding.astro";
import Hero from "components/Hero.astro";
import Intro from "components/Intro.astro";
import Statistics from "components/Statistics.astro";
import Tracks from "components/Tracks.astro";
import TextAndImage from "components/TextAndImage.astro";
import PreviousEvents from "components/PreviousEvents.astro";
import GetTickets from "components/GetTickets.astro";
import VenueInfo from "components/VenueInfo.astro";
import TextAndSponsors from "components/TextAndSponsors.astro";
import TextAndImageReverse from "components/TextAndImageReverse.astro";
import FeaturedSpeakers from "components/FeaturedSpeakers.astro"
import Timeline from "components/Timeline.astro";
import Marquee from "components/Marquee.astro"

// Images
import Placeholder1 from "images/homepage/stats1.jpeg";
import Placeholder2 from "images/homepage/stats2.jpg";
import Placeholder3 from "images/homepage/stats3.png";
import SpotlightBlue from "images/homepage/spotlight-hg.svg";
import RustGlobalWhite from "images/homepage/rust-svg.svg";
import Proposals from "images/homepage/hangzhou-proposals-min.jpg";

import GosimShanghai from "images/homepage/gosim-shanghai.png";
import GosimDelft from "images/homepage/gosim-delft.png";
import GosimBeijing from "images/homepage/gosim-beijing.png";
import GosimParis from "images/homepage/gosim-paris-min.png";
---

<Layout
  title="GOSIM Hangzhou 2025"
  description="GOSIM Hangzhou. Coming soon."
  navDarkMode={true}
  navBackground="header-home"
  pageTransitionName="Home"
>
  <Hero
    date="September 13-14, 2025"
    location="Hangzhou, China"
    links={[
      {
        text: "Call for Proposals",
        link: "/#proposals",
        openInNewTab: false,
      },
    ]}
  />
  <!--   <CardsSponsors
    title="Proudly Sponsored By"
    sponsors={[
      {
        name: "1ms.ai",
        image: "/images/sponsors/1msai.png",
      },
      {
        name: "Huawei",
        image: "/images/sponsors/huawei.png",
      },
      {
        name: "CSDN",
        image: "/images/sponsors/csdn.png",
      },
    ]}
  /> -->
  <div
    class="section-wrap"
    id="intro"
    data-theme-section="light"
    data-bg-section="lightgray"
  >
    <Intro>
      <h1 class="h3 light split-words animate-read">
        Join us at GOSIM Hangzhou 2025, China's premier open-source conference,
        where innovation, collaboration, and technological breakthroughs
        converge.
      </h1>
    </Intro>

    <Statistics
      stats={[
        {
          title: "1500",
          subtitle: "Attendees",
          image: Placeholder1,
          imageAlt: "",
          hasPlus: true,
        },
        {
          title: "100",
          subtitle: "Speakers",
          imageAlt: "",
          image: Placeholder2,
          hasPlus: true,
        },
        {
          title: "2",
          subtitle: "Exhilarating days",
          imageAlt: "",
          image: Placeholder3,
        },
      ]}
    />
  </div>

  <Tracks
    id="tracks"
    title="5 Cutting-Edge Tracks"
    list={[
      {
        title: "AI Models & Infra",
        text: `Foundation models, edge inference, generative AI, tools for AI training and beyond.`,
      },
      {
        title: "Embodied AI",
        text: `Apply AI in the real world, from humanoid robotics to autonomous systems.`,
      },
      {
        title: "Agentic Web",
        text: `Decentralized applications, identity, privacy-enhanced technologies, and collaborative platforms.`,
      },
      {
        title: "Apps & Agents",
        text: `Cross-platform and AI-assisted app dev, Rust GUI apps, WebAssembly, and super-app ecosystems.`,
      },
      {
        title: "AI Next",
        text: `AI Enabled Use Cases, AI Devices, Human AI Interfaces, AI Platforms, and AI Governnances`,
      },
      // {
      //   title: "Rust",
      //   text: `Rust Global and Rust China conferences, focusing on the Rust programming language and its applications.`,
      // },
    ]}
    ctaButton={{
      text: "Schedule Coming Soon",
      link: "",
    }}
  />

  <VenueInfo
    subtitle="Venue"
    title={"Hangzhou Platinum Hanjue Hotel\n杭州白金汉爵酒店"}
    location="Hangzhou, China - Where Innovation Meets History"
    text="Experience GOSIM Hangzhou 2025 in a city renowned for its historical legacy and vibrant technological future. Hangzhou, a historical gem and modern tech hub, offers the perfect backdrop for inspiration, networking, and breakthrough innovations."
    image="/images/homepage/hangzhoubg.png"
  />

  <Marquee />

  <FeaturedSpeakers
    title="Featured Speakers"
    ctaButton={{
      text: "More speakers",
      link: "/speakers/",
    }}
  />


  <TextAndImageReverse
    id="proposals"
    title="Call for Proposals"
    text="We’re looking for bold ideas and fresh voices to shape the future. If you have insights on cutting-edge technology, emerging trends, or transformative practices, we want to hear from you. Submit a proposal to speak and join a lineup of innovators, thought leaders, and changemakers pushing the boundaries of what’s next."
    image={Proposals}
    imageAlt="GOSIM Hangzhou"
    dataBgSection="light"
    dataThemeSection="light"
    ctaButton={{
      text: "Apply now",
      link: "https://cfp.gosim.org/",
      openInNewTab: true,
    }}
  />
  <Timeline
    events={[
      {
        date: "May 18, 2025",
        title: "Proposal applications open",
      },
      {
        date: "August 18, 2025",
        title: "Proposal applications close",
      },
      {
        date: "September 13, 2025",
        title: "GOSIM Hangzhou kicks off!",
      },
      {
        date: "September 14, 2025",
        title: "GOSIM Hangzhou concludes",
      },
    ]}
  />
  <TextAndImage
    id="rust-global"
    title="Co-located RustGlobal & RustChinaConf"
    text="RustGlobal is the first Rust Foundation-hosted gathering dedicated to the use of Rust in global leadership settings."
    image={RustGlobalWhite}
    imageAlt="Rust Global"
    dataBgSection="dark"
    dataThemeSection="dark"
    ctaButton={{
      text: "RustGlobal + RustChinaConf 2025",
      link: "https://rustcc.cn/2025conf/",
      openInNewTab: true,
    }}
  />

  <TextAndSponsors
    title="Sponsorship Opportunities"
    text="Reach thousands of people in your target audience by becoming a supporting organization at GOSIM Hangzhou 2025."
    text2="*Previous GOSIM conference sponsors shown for illustration purposes only."
    ctaButton={{
      text: "Contact Us",
      link: "mailto:sponsor@gosim.org",
    }}
    logos={[
      {
        image: "openwallet.png",
        imageAlt: "OpenWallet logo",
      },
      {
        image: "ajtis.jpg",
        imageAlt: "AJTIS logo",
      },
      {
        image: "aifc.png",
        imageAlt: "AIFC logo",
      },
      {
        image: "lf-gen-ai.png",
        imageAlt: "Linux Foudnation logo",
      },
      {
        image: "eclipse-foundation.png",
        imageAlt: "Eclipse Foundation logo",
      },
      {
        image: "osi.png",
        imageAlt: "Open Source Initiative logo",
      },
    ]}
  />
  <TextAndImage
    id="spotlight"
    title="GOSIM AI for Human Spotlight"
    text="Towards a Symbiotic Future of Ethical and Creative AI: What if AI wasn't just built to serve, but to co-create with us? AI for Human Spotlight is an international showcase for projects that explore how generative AI can foster empathy, shared creativity, and ethical coexistence."
    image={SpotlightBlue}
    imageAlt="Gosim Spotlight badge"
    dataBgSection="light"
    dataThemeSection="light"
    ctaButton={{
      text: "Apply or Nominate Now",
      link: "https://spotlight.gosim.org/",
      openInNewTab: true,
    }}
  />

  <PreviousEvents
    title="Previous Events"
    events={[
      {
        title: "GOSIM Paris",
        date: "May 6-7, 2025",
        description:
          "Over 1000 attendees and luminaries delved into the multifaceted development of AI for our 2-day GOSIM Paris event in the city of lights.",
        image: GosimParis,
        link: "https://paris2025.gosim.org/",
      },
      {
        title: "GOSIM Beijing",
        date: "October 17-18, 2024",
        description:
          "Attracted more than 1700 attendees, GOSIM Beijing is by far the largest GOSIM event ever in the historical capital of China.",
        image: GosimBeijing,
        link: "https://china2024.gosim.org/",
      },
      {
        title: "GOSIM Delft",
        date: "June 6-7, 2024",
        description:
          "GOSIM Delft was a two-day event with 3 tracks that brought together 1200 attendees from not only the Netherlands, but all around the world.",
        image: GosimDelft,
        link: "https://europe2024.gosim.org/",
      },
      {
        title: "GOSIM Shanghai",
        date: "September 23-24, 2023",
        description:
          "Where everything started, GOSIM conference and workshop focused on championing and enhancing open-source contributions.",
        image: GosimShanghai,
        link: "https://conference2023.gosim.org/",
      },
    ]}
  />

  <GetTickets
    title="Join the open-source revolution!"
    location="Hangzhou, China"
    date="September 13-14, 2025"
    text="Secure your spot today at GOSIM Hangzhou 2025. Collaborate with innovators, engage with industry pioneers, and be part of shaping the future of open-source technology."
  />
</Layout>
