---
// Components
import Layout from "layouts/LayoutLanding.astro";
import Hero from "components/Hero.astro";
import Intro from "components/Intro.astro";
import Statistics from "components/Statistics.astro";
import Tracks from "components/Tracks.astro";
import TextAndImage from "components/TextAndImage.astro";
import PreviousEvents from "components/PreviousEvents.astro";
import GetTickets from "components/GetTickets.astro";
import VenueInfo from "components/VenueInfo.astro";

// Images
import Placeholder1 from "images/homepage/stats1.png";
import Placeholder2 from "images/homepage/stats2.png";
import Placeholder3 from "images/homepage/stats3.png";
import SpotlightBlue from "images/homepage/spotlight-badge-ai-2025.svg";
import GosimShanghai from "images/homepage/gosim-shanghai.png";
import GosimDelft from "images/homepage/gosim-delft.png";
import GosimBeijing from "images/homepage/gosim-beijing.png";
import GosimParis from "images/homepage/gosim-paris-min.png";
---

<Layout
  title="GOSIM Hangzhou 2025"
  description="GOSIM Hangzhou. Coming soon."
  navDarkMode={true}
  navBackground="header-home"
  pageTransitionName="Home"
>
  <Hero date="September 13-14, 2025" location="Hangzhou, China" />
  <!--   <CardsSponsors
    title="Proudly Sponsored By"
    sponsors={[
      {
        name: "1ms.ai",
        image: "/images/sponsors/1msai.png",
      },
      {
        name: "Huawei",
        image: "/images/sponsors/huawei.png",
      },
      {
        name: "CSDN",
        image: "/images/sponsors/csdn.png",
      },
    ]}
  /> -->
  <div
    class="section-wrap"
    id="intro"
    data-theme-section="light"
    data-bg-section="lightgray"
  >
    <Intro>
      <h1 class="h3 light split-words animate-read">
        Join us at GOSIM Hangzhou 2025, China's premier open-source conference,
        where innovation, collaboration, and technological breakthroughs
        converge.
      </h1>
    </Intro>

    <Statistics
      stats={[
        {
          title: "900",
          subtitle: "Attendees",
          image: Placeholder1,
          imageAlt: "",
          hasPlus: true,
        },
        {
          title: "100",
          subtitle: "Speakers",
          imageAlt: "",
          image: Placeholder2,
          hasPlus: true,
        },
        {
          title: "2",
          subtitle: "Exhilarating days",
          imageAlt: "",
          image: Placeholder3,
        },
      ]}
    />
  </div>
  <VenueInfo
    subtitle="Location"
    title="Hangzhou, China"
    location="Where Innovation Meets History"
    text="Experience GOSIM Hangzhou 2025 in a city renowned for its historical legacy and vibrant technological future. Hangzhou, a historical gem and modern tech hub, offers the perfect backdrop for inspiration, networking, and breakthrough innovations."
    image="/images/homepage/station-f.jpg"
    ctaButton={{
      text: "Learn More",
      link: "https://stationf.co/",
      openInNewTab: true,
    }}
  />
  <Tracks
    title="Explore Cutting-Edge Tracks"
    list={[
      {
        title: "Artificial Intelligence",
        text: `Foundation models, edge inference, generative AI, and beyond.`,
      },
      {
        title: "Internet & Web",
        text: `Decentralized applications, identity, privacy-enhanced technologies, and collaborative platforms.`,
      },
      {
        title: "App Development",
        text: `Cross-platform frameworks, Rust-based apps, WebAssembly, and super-app ecosystems.`,
      },
      {
        title: "Next Generation Devices",
        text: `Smart wearables, spatial intelligence, embodied AI, and emerging hardware.`,
      },
      {
        title: "Rust Language Ecosystem",
        text: `Compiler development, tooling, embedded Rust, and large-scale industry adoption.`,
      },
      {
        title: "Open Innovation & Community",
        text: `Best practices for open-source communities, sustainable funding, and global collaboration.`,
      },
    ]}
    ctaButton={{
      text: "Schedule Coming Soon",
      link: "/schedule/",
    }}
  />

  <TextAndImage
    title="GOSIM Spotlight Program"
    text="Witness the future of technology first-hand through the GOSIM Spotlight initiative, highlighting exceptional innovations aligned with each conference track. This program showcases pioneering open-source projects that push boundaries, inspire creativity, and demonstrate real-world impact."
    image={SpotlightBlue}
    imageAlt="Gosim Spotlight badge"
    ctaButton={{
      text: "Details coming soon",
      link: "",
    }}
  />

  <PreviousEvents
    title="Previous Events"
    events={[
      {
        title: "GOSIM Paris",
        date: "May 6-7, 2025",
        description:
          "The GOSIM Beijing conference, attracted more than 1700 attendees, makes it the largest GOSIM event so far.",
        image: GosimParis,
        link: "https://paris2025.gosim.org/",
      },
      {
        title: "GOSIM Beijing",
        date: "October 17-18, 2024",
        description:
          "The GOSIM Beijing conference, attracted more than 1700 attendees, makes it the largest GOSIM event so far.",
        image: GosimBeijing,
        link: "https://china2024.gosim.org/",
      },
      {
        title: "GOSIM Delft",
        date: "June 6-7, 2024",
        description:
          "GOSIM Delft was a two-day event with 3 tracks that brought together 1200 attendees from around the world.",
        image: GosimDelft,
        link: "https://europe2024.gosim.org/",
      },
      {
        title: "GOSIM Shanghai",
        date: "September 23-24, 2023",
        description:
          "The GOSIM conference and workshop focused on championing and enhancing open-source contributions.",
        image: GosimShanghai,
        link: "https://conference2023.gosim.org/",
      },
    ]}
  />

  <GetTickets
    title="Join the open-source revolution!"
    location="Hangzhou, China"
    date="September 13-14, 2025"
    text="Secure your spot today at GOSIM Hangzhou 2025. Collaborate with innovators, engage with industry pioneers, and be part of shaping the future of open-source technology."
    ctaButton={{
      text: "Tickets coming soon",
      link: "",
    }}
  />
</Layout>
