---
// Components
import Layout from "layouts/Layout.astro"
import ForumHero from "components/ForumHero.astro"
import Intro from "components/Intro.astro"
/*import Agenda from "components/Agenda.astro";*/
import Cards from "components/Cards.astro"
import ForumInvitation from "components/TextAndImage.astro"
import ForumSchedule from "components/Forumschedule.astro"
import TextAndSponsors from "components/TextAndSponsors.astro"
import Venue2Info from "components/Venue2Info.astro"
import VenueInfo from "components/VenueInfo.astro";

// Images
import ForumInvite from "images/homepage/forum-invite.webp"
---

<Layout
  title="GOSIM Open-Source AI Strategy Forum"
  description="GOSIM Open-Source AI Strategy Forum - GOSIM Paris, the City of Light, transforms into the City of Artificial Brilliance this May. GOSIM AI 2025 invites visionaries, disruptors, and pioneers to converge at Station F, a crucible of innovation, to shape the next frontier of AI."
  navDarkMode={true}
  navBackground="header-home"
  pageTransitionName="GOSIM Open-Source AI Strategy Forum"
>
  <ForumHero
    description="Co-organized By the Eclipse Foundation"
    date="May 5, 2025"
    location="Invitation Only"
    links={[]}
  />
  <div
    class="section-wrap"
    id="intro"
    data-theme-section="light"
    data-bg-section="lightgray"
  >
    <Intro>
      <h1
        class="h3 light split-words animate-read mb-4"
        style="font-size:1.5rem; text-align: justify;"
      >
        Co-organized by the <b
          ><a
            href="https://www.eclipse.org/"
            target="_blank"
            rel="noopener noreferrer">Eclipse Foundation</a
          ></b
        > and <b
          ><a
            href="https://gosim.org/"
            target="_blank"
            rel="noopener noreferrer">GOSIM</a
          ></b
        >, the Open Source AI Strategy Forum brings together global thought
        leaders, researchers, and open-source AI pioneers, and digital
        sovereignty advocates to reflect on the strategic role of open source AI
        in global collaboration and the pressing challenges we are facing. The
        Forum adopts a hybrid format with short presentations and a priority on
        open dialogue and collective thinking, operating under the <b
          ><a
            href="https://www.chathamhouse.org/about-us/chatham-house-rule"
            target="_blank"
            rel="noopener noreferrer">Chatham House Rule</a
          ></b
        > to ensure that all participants can freely exchange ideas. The event will
        culminate in a networking dinner cruise along the Seine River, providing
        a scenic and informal setting for further discussions and collaborations.
      </h1>
    </Intro>
  </div>

    <VenueInfo
    subtitle="The Venue"
    title="Beautiful Location in Paris"
    location=""
    text=""
    image="/images/homepage/resturant.png" 
    ctaButton={{
      text: "Send inquiry for the venue info",
      link: "mailto:gesine.freund@eclipse-foundation.org",
      openInNewTab: true,
    }}
  />  

  <TextAndSponsors
    title="Proudly Supported By"
    text="This event is generously supported by our Supporting Organizations."
    logos={[
      {
        image: "eclipse-foundation.png",
        imageAlt: "Eclipse Foundation logo",
      },
      {
        image: "openwallet.png",
        imageAlt: "OpenWallet logo",
      },
      {
        image: "sw-heritage.png",
        imageAlt: "Software Heritage Foundation logo",
      },
      {
        image: "linux-foundation-research.png",
        imageAlt: "Linux Foundation Research logo",
      },
      {
        image: "lf-gen-ai.png",
        imageAlt: "Linux Foudnation logo",
      },

      {
        image: "osi.png",
        imageAlt: "Open Source Initiative logo",
      },
    ]}
  />
  <Cards
    title="Key Focus Areas"
    description="The forum will explore these key themes shaping the future of open-source AI."
    cards={[
      {
        title: "Global Digital Collaboration",
        description:
          "How open-source AI bridges divides and accelerates innovation globally. Highlighting best practices, successful initiatives, and overcoming barriers.",
        image: "/icons/collaboration.svg",
      },
      {
        title: "Open-Source AI: Enabling Sovereignty and Digital Autonomy",
        description:
          "Balancing global collaboration with national digital autonomy through policies, frameworks, and technologies.",
        image: "/icons/sovereignty.svg",
      },
      {
        title: "Open-Source AI and Research",
        description:
          "The synergy between open-source communities and academic research, including successful partnerships and knowledge sharing.",
        image: "/icons/governance.svg",
      },
      {
        title: "Open-Source AI Solutions",
        description:
          "Leveraging open-source AI for business innovation, efficiency, and competitive advantage, with real-world examples and adoption strategies.",
        image: "/icons/aimodels.svg",
      },
      {
        title: "Responsible AI",
        description:
          "Community-driven approaches to ethical, transparent, and accountable AI, emphasizing governance and unbiased solutions.",
        image: "/icons/sustainability.svg",
      },
    ]}
  />
  <ForumSchedule />
  <!-- <Agenda
    title="Agenda"
    list={[
      {
        title: "AI Model",
        markdown: `
        * **Registration and Networking Breakfast**
        * **Keynote Address:** The State of Open-Source AI and Its Future
        * **Panel Discussion:** Open AI Challenges - Perspectives from Industry, Academia, and Government
        <ul>
          <li>Model Panel</li>
          <li>OSS Foundation Panel</li>
          <li>International Standards Panel</li>
        </ul>
        * **Coffee Break**
        * **Breakout Sessions Identifying and Analyzing Core Issues:**
        <ul>
          <li>Track 1: Open Models and Licensing Challenges</li>
          <li>Track 2: AI Commons and Sustainable AI Infrastructure</li>
          <li>Track 3: Policy and Governance Models for Open AI</li>
        </ul>`,
      },
      {
        title: "Afternoon Session: Solutions and Strategies",
        markdown: `
        * **Lightning Talks:** Case Studies in Open-Source AI Success and Failure
        * **Roundtable Discussions:** Crafting a Collaborative Roadmap
        * **Coffee Break**
        * **Forum Report Drafting:** Key Takeaways and Policy Recommendations Closing Remarks
        `,
      },
      {
        title: "Evening Program: Seine River Cruise Dinner",
        markdown: `
        * **Informal Networking & Social Discussions:** Exclusive networking dinner on a Seine river cruise
        * Continue discussions in a relaxed setting while enjoying views of Paris
        `,
      },
    ]}
  /> -->
  <Cards
    title="Forum Outputs"
    description="Participants will contribute to developing tangible outcomes that influence the future of AI strategy."
    cards={[
      {
        title: "Strategic Whitepaper",
        description:
          "GOSIM Open-Source AI Strategy Report: A synthesized document capturing key discussions, recommendations, and action points from the forum, to be published on the GOSIM website.",
        image: "/icons/whitepaper.svg",
      },
      {
        title: "Position Paper",
        description:
          "Position Paper on Open AI Governance: A collaboratively drafted paper summarizing governance challenges and proposals for open-source AI policy frameworks.",
        image: "/icons/positionpaper.svg",
      },
      {
        title: "Collaboration Roadmap",
        description:
          "AI Commons Collaboration Initiative: A proposal for a global coalition to ensure sustainable, ethical, and transparent development of open AI models and infrastructure.",
        image: "/icons/roadmap.svg",
      },
    ]}
  />
  <!--  <Cards
    title="Forum Participants"
    description="An exclusive gathering of decision-makers and thought leaders across the AI ecosystem."
    cards={[
      {
        title: "OSS AI Model Partners",
        description: "BAAI, Qwen, LAION, HuggingFace, etc.",
        image: "/icons/ossmodels.svg",
      },
      {
        title: "OSS Foundations",
        description:
          "Linux Foundation, OpenWallet Foundation, Open-Source Initiative, Eclipse Foundation, OpenForum Europe, Software Heritage Foundation etc.",
        image: "/icons/foundation.svg",
      }
    ]}
  /> -->
  <ForumInvitation
    title="Forum Invitation"
    text="Join us for an exclusive gathering of AI leaders and innovators. This invitation-only forum will bring together the brightest minds in open-source AI to shape the future of artificial intelligence. Request more information below to learn about participation opportunities."
    image={ForumInvite}
    imageAlt="Forum Invitation"
    ctaButton={{
      text: "Request Info",
      link: "mailto:strategy-forum@gosim.org",
      openInNewTab: true,
    }}
  />


</Layout>
