---
// Components
import OpenStreetMap from "components/OpenStreetMap.astro";

interface Props {
  title?: string;
  connectivityItems?: Array<{
    icon: string;
    label: string;
    value: string;
    description: string;
    programTitle: string;
    programTitle2: string;
  }>;
}

const {
  programTitle = "Hangzhou Platinum Hanjue Hotel",
  programTitle2 = "杭州白金汉爵酒店",
  title = "Location & Connectivity",
  connectivityItems = [
    {
      icon: "airport",
      label: "Airport",
      value: "38.5 km",
      description: "Hangzhou Airport Xiaoshan",
    },
    {
      icon: "train",
      label: "Train",
      value: "14.9 km",
      description: "Hangzhou Railway Station",
    },
    {
      icon: "subway",
      label: "Subway",
      value: "2.2 km",
      description: "Hangzhou Zhipulu Station",
    },
    {
      icon: "parking",
      label: "Parking",
      value: "1,100",
      description: "Onsite Parking Spaces",
    },
  ],
} = Astro.props;
---

<section
  class="section section-location-connectivity"
  data-theme-section="light"
  data-bg-section="lightgray"
>
  <div class="container">
    <div
      class="row row-title"
      style="display: flex; justify-content: center; align-items: center;"
    >
      <div class="col-title">
        <h2 class="connectivity-title">{title}</h2>
      </div>
    </div>

    <div class="row row-connectivity">
      {
        connectivityItems?.map((item) => (
          <div class="col connectivity-card">
            <div class="connectivity-content">
              <div class="connectivity-header">
                <div class="connectivity-icon">
                  {item.icon === "airport" && (
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 158 158"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M140.554 60.8952H44.5035C44.0718 60.9005 43.6438 60.8153 43.2469 60.6452C42.8501 60.4752 42.4933 60.2239 42.1993 59.9077L31.9293 49.6377C30.6678 48.4347 28.9982 47.7528 27.2552 47.7285H7.50518C6.38638 47.7263 5.28546 48.0092 4.30637 48.5506C3.32728 49.092 2.50231 49.874 1.90934 50.8227C1.33153 51.8235 1.02734 52.9587 1.02734 54.1144C1.02734 55.27 1.33153 56.4052 1.90934 57.406L18.3677 90.3227C18.9147 91.4084 19.7518 92.3214 20.786 92.9605C21.8202 93.5996 23.0111 93.9399 24.2268 93.9435H62.7393C63.0699 93.9379 63.3951 94.0282 63.6755 94.2035C63.9559 94.3787 64.1795 94.6314 64.3193 94.931C64.4255 95.2454 64.4448 95.5826 64.3753 95.907C64.3058 96.2315 64.15 96.5311 63.9243 96.7744L38.5127 122.054C37.5882 122.971 36.9564 124.142 36.6971 125.418C36.4379 126.694 36.5627 128.018 37.056 129.223C37.5493 130.428 38.3887 131.459 39.4683 132.187C40.5479 132.915 41.819 133.306 43.121 133.312H66.7552C68.4982 133.288 70.1678 132.606 71.4293 131.403L108.033 94.7994C108.327 94.4831 108.683 94.2319 109.08 94.0618C109.477 93.8917 109.905 93.8066 110.337 93.8119H140.554C144.919 93.8119 149.106 92.0779 152.192 88.9913C155.279 85.9048 157.013 81.7186 157.013 77.3535C157.013 72.9885 155.279 68.8023 152.192 65.7157C149.106 62.6292 144.919 60.8952 140.554 60.8952Z"
                        fill="currentColor"
                      />
                      <path
                        d="M69.0579 53.3247C69.3643 53.6427 69.7327 53.8945 70.1404 54.0644C70.5481 54.2342 70.9863 54.3186 71.4279 54.3122H101.711C102.032 54.3133 102.347 54.2204 102.616 54.0449C102.885 53.8694 103.097 53.6191 103.225 53.3247C103.401 53.0494 103.495 52.7296 103.495 52.403C103.495 52.0764 103.401 51.7566 103.225 51.4813L78.0112 26.333C76.7496 25.13 75.0801 24.4481 73.337 24.4238H56.2862C54.9842 24.4293 53.713 24.8207 52.6335 25.5486C51.5539 26.2764 50.7144 27.3081 50.2212 28.5131C49.7279 29.718 49.603 31.0422 49.8623 32.3181C50.1216 33.5941 50.7534 34.7645 51.6779 35.6813L69.0579 53.3247Z"
                        fill="currentColor"
                      />
                    </svg>
                  )}
                  {item.icon === "train" && (
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 158 158"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_602_1635)">
                        <path
                          d="M153.061 20.5391H92.165C81.9233 20.5199 71.9738 23.9524 63.9225 30.2825L29.2942 65.8325C28.98 66.1975 28.8154 66.6678 28.8334 67.1491C28.8604 67.3875 28.9392 67.6171 29.0643 67.8218C29.1894 68.0265 29.3578 68.2013 29.5575 68.3341C34.8168 71.8063 39.1332 76.5282 42.1203 82.0773C45.1074 87.6264 46.672 93.8296 46.6742 100.132C46.6829 104.774 45.8117 109.376 44.1067 113.693C43.9799 113.926 43.9135 114.186 43.9135 114.45C43.9135 114.715 43.9799 114.975 44.1067 115.207C44.2592 115.433 44.4654 115.617 44.7067 115.744C44.9479 115.87 45.2168 115.935 45.4892 115.932H94.535C94.7896 115.927 95.04 115.865 95.2677 115.751C95.4955 115.637 95.695 115.474 95.8517 115.273L112.903 93.1533C117.246 89.3793 122.817 87.3194 128.571 87.36H156.155C156.399 87.3904 156.646 87.3659 156.879 87.2883C157.112 87.2107 157.325 87.082 157.501 86.9116C157.678 86.7411 157.814 86.5333 157.9 86.3033C157.986 86.0734 158.02 85.8271 157.998 85.5825V25.4766C157.981 24.1724 157.456 22.9264 156.533 22.0042C155.611 21.0819 154.365 20.5562 153.061 20.5391ZM114.548 49.2425L103.554 60.2366C102.273 61.9658 100.607 63.372 98.6865 64.3435C96.7664 65.315 94.646 65.8248 92.4942 65.8325H55.4959C54.8802 65.7918 54.2883 65.5789 53.7877 65.2181C53.2872 64.8572 52.8982 64.363 52.665 63.7916C52.4071 63.2011 52.332 62.5469 52.4494 61.9132C52.5667 61.2796 52.8711 60.6957 53.3234 60.2366L68.465 44.6341C69.093 44.004 69.9454 43.6488 70.835 43.6466H112.442C113.092 43.6499 113.726 43.8454 114.265 44.2086C114.804 44.5718 115.223 45.0864 115.47 45.6875C115.716 46.3008 115.76 46.9768 115.594 47.6165C115.428 48.2562 115.061 48.826 114.548 49.2425Z"
                          fill="currentColor"
                        />
                        <path
                          d="M31.0076 115.998C31.3025 116.032 31.601 115.982 31.8688 115.854C32.1366 115.725 32.3629 115.525 32.5218 115.274C35.2885 110.753 36.7681 105.563 36.8009 100.264C36.8011 95.1665 35.4249 90.1638 32.8178 85.7837C30.2106 81.4037 26.4691 77.8089 21.9884 75.3788C21.6664 75.2194 21.3023 75.1654 20.9478 75.2245C20.5933 75.2835 20.2664 75.4527 20.0134 75.7079C10.7968 85.5829 9.8751 88.2163 9.8751 94.6021C9.85747 100.237 12.0699 105.649 16.0293 109.658C19.9887 113.667 25.3734 115.946 31.0076 115.998Z"
                          fill="currentColor"
                        />
                        <path
                          d="M156.353 97.3659H128.769C126.819 97.3867 124.898 97.8404 123.144 98.6943C121.391 99.5482 119.849 100.781 118.63 102.303L110.072 113.429C109.915 113.687 109.832 113.983 109.832 114.285C109.832 114.587 109.915 114.883 110.072 115.141C110.21 115.423 110.426 115.66 110.694 115.823C110.963 115.986 111.272 116.069 111.586 116.063H153.259C154.563 116.045 155.809 115.52 156.731 114.598C157.653 113.675 158.179 112.429 158.196 111.125V98.7484C158.131 98.3225 157.901 97.9392 157.557 97.6807C157.212 97.4223 156.78 97.3092 156.353 97.3659Z"
                          fill="currentColor"
                        />
                        <path
                          d="M151.417 124.293H6.58333C4.83732 124.293 3.16283 124.987 1.92821 126.221C0.693599 127.456 0 129.13 0 130.876C0 132.622 0.693599 134.297 1.92821 135.531C3.16283 136.766 4.83732 137.46 6.58333 137.46H151.417C153.163 137.46 154.837 136.766 156.072 135.531C157.306 134.297 158 132.622 158 130.876C158 129.13 157.306 127.456 156.072 126.221C154.837 124.987 153.163 124.293 151.417 124.293Z"
                          fill="currentColor"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_602_1635">
                          <rect width="158" height="158" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  )}
                  {item.icon === "subway" && (
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 158 158"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M151.417 145.755L132.852 134.629C132.65 134.507 132.476 134.345 132.34 134.152C132.204 133.96 132.11 133.741 132.062 133.51C132.001 133.045 132.118 132.575 132.391 132.193C134.041 130.19 134.948 127.678 134.959 125.083V85.1883L131.667 46.0833C131.667 40.8453 129.587 35.8218 125.883 32.118C122.179 28.4141 117.155 26.3333 111.917 26.3333H100.396C99.9596 26.3333 99.5415 26.1599 99.2328 25.8513C98.924 25.5426 98.7502 25.124 98.7502 24.6875V14.8125C98.7502 14.376 98.924 13.9574 99.2328 13.6487C99.5415 13.3401 99.9596 13.1667 100.396 13.1667H108.625C110.372 13.1667 112.046 12.473 113.281 11.2385C114.515 10.0038 115.209 8.32937 115.209 6.58333C115.209 4.83733 114.515 3.16283 113.281 1.92821C112.046 0.6936 110.372 0 108.625 0H49.3755C47.6295 0 45.955 0.6936 44.7204 1.92821C43.4858 3.16283 42.7922 4.83733 42.7922 6.58333C42.7922 8.32937 43.4858 10.0038 44.7204 11.2385C45.955 12.473 47.6295 13.1667 49.3755 13.1667H57.6047C58.0412 13.1667 58.4598 13.3401 58.7684 13.6487C59.0771 13.9574 59.2505 14.376 59.2505 14.8125V24.6875C59.2505 25.124 59.0771 25.5426 58.7684 25.8513C58.4598 26.1599 58.0412 26.3333 57.6047 26.3333H46.0839C40.9358 26.3315 35.9905 28.3399 32.3015 31.9306C28.6124 35.5212 26.4711 40.4105 26.3339 45.5567L23.0422 85.0567V125.083C23.0344 127.671 23.9178 130.181 25.5439 132.193C25.817 132.575 25.9347 133.045 25.873 133.51C25.8255 133.741 25.7308 133.96 25.5949 134.152C25.4589 134.345 25.2847 134.507 25.083 134.629L6.58386 145.755C5.34813 146.488 4.38615 147.606 3.8447 148.936C3.30327 150.267 3.21209 151.739 3.58508 153.126C3.95808 154.513 4.77477 155.741 5.91054 156.621C7.04628 157.501 8.43878 157.986 9.87553 158C11.0347 157.988 12.1703 157.67 13.1672 157.078L46.8739 136.868C47.1526 136.781 47.4509 136.781 47.7297 136.868H110.139C110.418 136.781 110.717 136.781 110.995 136.868L144.834 157.078C145.85 157.681 147.01 157.999 148.191 158C149.622 157.972 151.005 157.477 152.13 156.592C153.256 155.707 154.061 154.479 154.426 153.095C154.791 151.711 154.694 150.245 154.152 148.921C153.608 147.596 152.649 146.485 151.417 145.755ZM49.3755 118.5C47.4225 118.5 45.5132 117.921 43.8892 116.836C42.2653 115.751 40.9996 114.208 40.2522 112.404C39.5048 110.599 39.3092 108.614 39.6903 106.699C40.0713 104.783 41.0118 103.023 42.3929 101.642C43.7739 100.262 45.5334 99.3208 47.449 98.9396C49.3645 98.5584 51.3501 98.7539 53.1545 99.5018C54.9589 100.249 56.5012 101.515 57.5863 103.138C58.6714 104.763 59.2505 106.672 59.2505 108.625C59.2505 111.244 58.2101 113.756 56.3582 115.608C54.5063 117.46 51.9945 118.5 49.3755 118.5ZM108.625 118.5C106.673 118.5 104.763 117.921 103.139 116.836C101.515 115.751 100.25 114.208 99.502 112.404C98.7548 110.599 98.5593 108.614 98.9405 106.699C99.321 104.783 100.262 103.023 101.643 101.642C103.024 100.262 104.783 99.3208 106.699 98.9396C108.615 98.5584 110.6 98.7539 112.405 99.5018C114.209 100.249 115.751 101.515 116.837 103.138C117.922 104.763 118.5 106.672 118.5 108.625C118.5 111.244 117.46 113.756 115.608 115.608C113.756 117.46 111.245 118.5 108.625 118.5ZM120.673 78.4733C120.342 78.8071 119.893 78.9967 119.422 79H38.5789C38.1087 78.9967 37.6589 78.8071 37.328 78.4733C37.1832 78.3009 37.0737 78.102 37.006 77.8874C36.9382 77.6728 36.9134 77.447 36.933 77.2225L39.5005 46.0833C39.5005 44.3373 40.1942 42.6628 41.4287 41.4282C42.6634 40.1936 44.3378 39.5 46.0839 39.5H111.917C112.828 39.4971 113.729 39.6832 114.565 40.0464C115.399 40.4097 116.15 40.9423 116.769 41.6106C117.388 42.2788 117.861 43.0681 118.159 43.9287C118.457 44.7892 118.573 45.7022 118.5 46.61L121.068 77.2225C121.087 77.447 121.063 77.6728 120.995 77.8874C120.927 78.102 120.818 78.3009 120.673 78.4733Z"
                        fill="currentColor"
                      />
                    </svg>
                  )}
                  {item.icon === "parking" && (
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 158 158"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M144.832 68.2694C146.578 68.2694 148.253 67.5758 149.487 66.3412C150.722 65.1065 151.415 63.432 151.415 61.686V55.1027C151.415 53.3567 150.722 51.6822 149.487 50.4476C148.253 49.213 146.578 48.5194 144.832 48.5194H131.007C130.659 48.5237 130.319 48.4178 130.035 48.2167C129.751 48.0156 129.538 47.7298 129.427 47.4002L122.185 25.6752C121.503 23.7438 120.236 22.0725 118.561 20.8929C116.886 19.7134 114.886 19.084 112.837 19.0919H45.1604C43.1118 19.084 41.1114 19.7134 39.4365 20.8929C37.7615 22.0725 36.4949 23.7438 35.812 25.6752L28.5704 47.4002C28.4591 47.7298 28.2462 48.0156 27.9623 48.2167C27.6785 48.4178 27.3382 48.5237 26.9904 48.5194H13.1654C11.4194 48.5194 9.74486 49.213 8.51024 50.4476C7.27563 51.6822 6.58203 53.3567 6.58203 55.1027V61.686C6.58203 63.432 7.27563 65.1065 8.51024 66.3412C9.74486 67.5758 11.4194 68.2694 13.1654 68.2694H17.7079C18.0345 68.282 18.3506 68.388 18.619 68.5746C18.8873 68.7613 19.0966 69.0209 19.222 69.3227C19.3922 69.5879 19.4826 69.8964 19.4826 70.2114C19.4826 70.5265 19.3922 70.835 19.222 71.1002L8.4912 81.436C7.2882 82.6976 6.60628 84.3671 6.58203 86.1102V107.769C6.60296 109.032 6.98645 110.262 7.6868 111.312C8.38714 112.363 9.3748 113.19 10.532 113.694C10.8264 113.823 11.0768 114.035 11.2523 114.304C11.4277 114.573 11.5206 114.887 11.5195 115.209V130.877C11.5367 133.054 12.4093 135.137 13.9488 136.677C15.4884 138.216 17.5715 139.089 19.7487 139.106H32.9154C35.0926 139.089 37.1757 138.216 38.7152 136.677C40.2548 135.137 41.1273 133.054 41.1445 130.877V115.999C41.1445 115.562 41.3179 115.143 41.6266 114.835C41.9352 114.526 42.3539 114.353 42.7904 114.353H115.207C115.644 114.353 116.062 114.526 116.371 114.835C116.679 115.143 116.853 115.562 116.853 115.999V130.877C116.87 133.054 117.743 135.137 119.282 136.677C120.822 138.216 122.905 139.089 125.082 139.106H138.249C140.426 139.089 142.509 138.216 144.049 136.677C145.588 135.137 146.461 133.054 146.478 130.877V115.209C146.477 114.887 146.57 114.573 146.745 114.304C146.921 114.035 147.171 113.823 147.465 113.694C148.623 113.19 149.61 112.363 150.311 111.312C151.011 110.262 151.394 109.032 151.415 107.769V86.1102C151.391 84.3671 150.709 82.6976 149.506 81.436L139.105 71.1002C138.882 70.8684 138.733 70.5765 138.674 70.2607C138.616 69.9448 138.651 69.6188 138.775 69.3227C138.901 69.0209 139.11 68.7613 139.378 68.5746C139.647 68.388 139.963 68.282 140.29 68.2694H144.832ZM109.282 32.061C109.636 32.0711 109.977 32.1905 110.26 32.4027C110.543 32.6149 110.753 32.9095 110.862 33.246L118.499 56.2877C118.626 56.5079 118.693 56.7576 118.693 57.0119C118.693 57.2661 118.626 57.5159 118.499 57.736C118.353 57.9487 118.156 58.1208 117.926 58.236C117.695 58.3512 117.439 58.4057 117.182 58.3944H41.0129C40.7555 58.4057 40.4995 58.3512 40.2691 58.236C40.0387 58.1208 39.8415 57.9487 39.6962 57.736C39.5691 57.5159 39.5022 57.2661 39.5022 57.0119C39.5022 56.7576 39.5691 56.5079 39.6962 56.2877L47.3329 33.246C47.4415 32.9095 47.6518 32.6149 47.9347 32.4027C48.2176 32.1905 48.5593 32.0711 48.9129 32.061H109.282ZM39.4987 97.8944H19.7487C18.8757 97.8944 18.0384 97.5476 17.4211 96.9303C16.8038 96.313 16.457 95.4757 16.457 94.6027V88.0194C16.457 87.1464 16.8038 86.3091 17.4211 85.6918C18.0384 85.0745 18.8757 84.7277 19.7487 84.7277H39.4987C40.3717 84.7277 41.2089 85.0745 41.8263 85.6918C42.4436 86.3091 42.7904 87.1464 42.7904 88.0194V94.6027C42.7904 95.4757 42.4436 96.313 41.8263 96.9303C41.2089 97.5476 40.3717 97.8944 39.4987 97.8944ZM115.207 88.0194C115.207 87.1464 115.554 86.3091 116.171 85.6918C116.788 85.0745 117.626 84.7277 118.499 84.7277H138.249C139.122 84.7277 139.959 85.0745 140.576 85.6918C141.194 86.3091 141.54 87.1464 141.54 88.0194V94.6027C141.54 95.4757 141.194 96.313 140.576 96.9303C139.959 97.5476 139.122 97.8944 138.249 97.8944H118.499C117.626 97.8944 116.788 97.5476 116.171 96.9303C115.554 96.313 115.207 95.4757 115.207 94.6027V88.0194Z"
                        fill="currentColor"
                      />
                    </svg>
                  )}
                </div>
                <h3 class="connectivity-label">{item.label}</h3>
              </div>
              <div class="connectivity-value">
                <span>{item.value}</span>
              </div>
              <div class="connectivity-description">
                <p>{item.description}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
<section class="section" data-theme-section="light" data-bg-section="lightgray">
  <div class="container map-container">
    <OpenStreetMap
      latitude={30.172599}
      longitude={120.102973}
      zoom={11}
      markerTitle={[programTitle, programTitle2]}
      height="350px"
    />
  </div>
</section>

<style>
  .map-container {
    z-index: 0;
    position: relative;
  }
  .section-location-connectivity {
    padding: var(--section-padding) 0;
    padding-bottom: 0px;
  }

  .row-title {
    margin-bottom: calc(var(--row-gap) * 2);
  }

  .connectivity-title {
    margin-bottom: 1rem;
  }

  .row-connectivity {
    gap: var(--col-gap);
  }

  .connectivity-card {
    flex: 1;
    min-width: 0;
  }

  .connectivity-content {
    background: var(--color-white);
    border: 1px solid #d5d5c2;
    border-radius: 8px;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .connectivity-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .connectivity-icon {
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--color-dark);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: var(--color-dark);
    color: var(--color-white);
  }

  .connectivity-icon svg {
    width: 24px;
    height: 24px;
    color: var(--color-white);
  }

  .connectivity-label {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-dark);
    margin: 0;
    line-height: 1.2;
  }

  .connectivity-value span {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--color-dark);
    line-height: 1.1;
  }

  .connectivity-description p {
    font-size: 0.95rem;
    color: var(--color-text);
    margin: 0;
    line-height: 1.5;
  }

  /* Mobile responsiveness */
  @media (max-width: 880px) {
    .row-connectivity {
      flex-direction:column;
    }

    .connectivity-card {
      width: 100%;
    }
  }
  /* Mobile responsiveness */
  @media (max-width: 920px) {
    .row-connectivity.grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }

    .connectivity-content {
      padding: 1.5rem;
    }

    .connectivity-label {
      font-size: 1.35rem;
    }

    .connectivity-value span {
      font-size: 2rem;
    }
  }

  @media (max-width: 540px) {
    .row-connectivity.grid {
      grid-template-columns: 1fr;
    }

    .connectivity-content {
      padding: 1rem;
    }

    .connectivity-icon {
      width: 1.5rem;
      height: 1.5rem;
    }

    .connectivity-icon svg {
      width: 16px;
      height: 16px;
    }

    .connectivity-label {
      font-size: 1.25rem;
    }

    .connectivity-value span {
      font-size: 1.75rem;
    }

    .connectivity-description p {
      font-size: 0.9rem;
    }
  }
</style>
