---
export interface Props {
  text: string
  link: string
}

const { text, link } = Astro.props
---

<div class="notification-bar">
  <a
    href={link}
    target="_blank"
    rel="noopener noreferrer">
    {text}
  </a>
</div>

<style>
  .notification-bar {
    width: 100%;
    background-color: rgba(60, 4, 203, 0.8);
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
    z-index: 950;
    /* height: var(--notification-bar-height, auto); */
  }

  .notification-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
  }
</style>
